<h1 class="bg-primary text-white p-4">
    Pipe
</h1>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Searh Team..." [(ngModel)]="searchInput">
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Player Name</th>
                            <th>Team</th>
                            <th>Role</th>
                            <th>Total Runs</th>
                            <th>Total Wickets</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let p of playerArray | filterTeam : searchInput, index as i">
                            <td>{{i + 1}}</td>
                            <td>{{p.name}}</td>
                            <td>{{p.country}}</td>
                            <td>{{p.role}}</td>
                            <td>{{p.totalRuns}}</td>
                            <td>{{p.totalWickets}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>